@font-face {
	font-family: 'Gotham-Medium';
	src: url('Gotham-Medium.eot');
	src: local('☺'), url('Gotham-Medium.woff') format('woff'), url('Gotham-Medium.ttf') format('truetype'), url('Gotham-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
html,body,div,iframe,a,img,caption{border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;}
body{background-color:#FFF; font-family: 'Gotham-Medium', sans-serif; color:#000;font-size:12px;line-height:1.5;margin-top:20px;margin-bottom:30px;}
img{border:none;}
#wrapper {display:block; width:800px; height:auto; margin: 100px auto; padding:10px;}
#slideshow{position:relative;margin:auto;}
.showcase-content-container {z-index:1;-moz-box-shadow: 1px 1px 3px #999; -webkit-box-shadow: 1px 1px 3px #999; box-shadow: 1px 1px 3px #999;}
.showcase-arrow-previous,.showcase-arrow-next{ z-index:2;position:absolute;background:url(nav.png);width:37px;height:42px;top:160px;cursor:pointer; transition: all 0.2s linear;}
.showcase-arrow-previous{left:-6px;}
.showcase-arrow-previous:hover, .showcase-arrow-next:hover {top:157px;}
.showcase-arrow-next{right:-8px; background-position:-40px 0;}
.showcase-content{background-color:#000;text-align:center;}
.showcase-content-wrapper{text-align:center;height:367px;width:660px;display:table-cell;vertical-align:middle;}
.showcase-content img {position:relative; width:100%}
 .caption {color: #5E1A42; font-size: 30px; line-height: 30px; font-weight:800; text-shadow: 0 1px 0 #DD69AE; text-transform: uppercase; top:220px; background-color: #C00071; max-width: 500px; padding: 18px; position: absolute;}